<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">

    <title>Oficina 3 Irmãos</title>
</head>

<body class="layout">

    <header class="topo">

        <div class="logo">
            <button type="button" name="marca superior">
                <h3>Oficina 3 Irmãos</h3>
            </button>
        </div>

        <div class="botoes">

            <button type="button" name="quem somos">
                <h4>Quem somos</h4>
            </button>

            <button type="button" name="servicos">
                <h4>Serviços</h4>
            </button>

            <button type="button" name="contato">
                <h4>Contato</h4>
            </button>

        </div>

        <div class="menu">

            <button type="button" name="menu">
                <h3>☰</h3>
            </button>

        </div>

    </header>


    <main class="meio">

        <div id="logo3d"></div>

    </main>


    <footer class="rodape">

        <h1>rodape</h1>

    </footer>


    <script type="module" src="./UserView.js"></script>

</body>
</html>