<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>inicial</title>
</head>
<body class="layout">

    <header class="topo">
        <h3 name="marca superior">Oficina 3 irmãos</h3>
        <button type="button" name="menu"><h3>☰</h3></button>
    </header>

    <main class="meio">
        <h1></h1>
       
    </main>

    <footer class="rodape">
        <h1>rodape</h1>
        
    </footer>

</body>
</html>