body.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.topo {
    display: flex;
    flex: 0 0 auto;

    padding: 20px;

    background-color: black;
    color: rgb(243, 240, 240);

    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-right: auto;
}

.botoes {
    display: flex;
    gap: 10px;
}

.menu {
    margin-left: 30px; 
    align-items: center;
}

.topo button[name="marca superior"] {
    width: 250px;
    height: 100px;

    padding: 0;
    border: none;
    background: transparent;

    cursor: pointer;
}

.topo button[name="marca superior"] img{
    width: 100%;
    height: 100%;

    object-fit: contain;
    display: block;
}
 
.botoes button,
.menu button {
    background: transparent;
    color: #ddd;
    border: none;
    padding: 22px 25px;
    font-weight: bold;
    cursor: pointer;
    position: relative;

}

.botoes button::after{
    content: "";
    position: absolute;

    left: 0;
    bottom: 10px;
    width: 0;
    height: 2px;

    background: #c0c0c0;
    transition: width 0.2s;
}

.botoes button:hover{
    color: white;
}

.botoes button:hover::after{
    width: 100%;
}

.menu button {
    width: 45px;
    height: 45px;

    padding: 0;

    background:transparent;
    color: #c0c0c0;

    border: 1px solid #555;
    border-radius: 3px;

    font-size: 20px;
    font-size: bold;

    cursor: pointer;
    transition: 0.2s;
}

.menu button:hover {
    background: #222;
    border-color: #c0c0c0;
    box-shadow: 0 0 8px rgba(214, 201, 0, 0.35);
}


.meio {
    flex: 1;

    display: flex;

    justify-content: center;
    align-items: center;

    background-color: #111111;
}

#logo3d {
    width: 600px;
    height: 500px;
}

#logo3d canvas {
    width: 100%;
    height: 100%;
    display: block

}
.rodape {
    flex: 0 0 auto;

    padding: 10px;

    background-color: #333;
    color: rgb(187, 35, 35);

    text-align: center;
}