body.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.topo {
    display: flex;
    flex: 0 0 auto;
    padding: 20px;
    background-color: #3b3939;
    color: rgb(243, 240, 240);
    align-items: center;
    justify-content: space-between;
}

.topo button[name="menu"]{
    color: rgb(107, 0, 207);
    padding: 10px;
}


.meio {
    flex: 1;
    padding: 20px;
}

.rodape {
    flex: 0 0 auto;
    padding: 10px;
    background-color: #333;
    color: rgb(187, 35, 35);
    text-align: center;

    
}   